/* main elements */
font {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

/* top section */
.top-part {
    background-color: #2D25A0;


}

/* menubar */
.menu {

    margin-left: 156px;
    padding-top: 47px;
    margin-right: 122px;
    display: flex;
    justify-content: space-between;
}

.menu-detail a {
    padding-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

.button a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.login {
    padding: 5px 24px;
    background-color: #E02C6D;
}

.text {
    font-weight: bold;
    font-size: 64px;

    color: #FFFFFF;
    padding-left: 156px;
}

.box {
    padding: 5px 24px;
    margin-left: 156px;
}

.box-1 {
    margin-left: 156px;

    padding: 5px 10px 5px 10px;
    background-color: #E02C6D;
    font-size: 20px;

    color: #FFFFFF;

}

.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    width: 388px;
    height: 428px;
}

.image {
    /* margin-left: 102px;
    margin-top: 62px;
    margin-right: 140px;
    margin-bottom: 86px; */
    padding-top: 30px;
    padding-left: 40px;
}


.player-info {
    box-shadow: 5px 5px 10px 1px grey;
    margin: 20px;
    padding: 15px;
    background-color: #FFFFFF;

}

.player-name {
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

.detail {
    color: #6C6C6C;
    font-weight: 400;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-img {
    width: 300px;
    height: 256px;
}

.player-container {
    padding: 20px 156px 20px 128px;
    background-color: #FFFFFF;
}

.image:hover {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}

.sec-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 20px 5px 20px 150px; */
    padding-left: 150px;
}

.rules {
    padding-top: 80px;
    padding-right: 150px;
    text-align: left;
}

.box-2 {


    padding: 5px 10px 5px 10px;
    background-color: #E02C6D;
    font-size: 20px;

    color: #FFFFFF;

}

.social-site img {
    width: 40px;
    height: 40px;
}

.logo img {
    height: 150px;
}

.last {
    font-size: 20px;
    font-weight: 600;
}

.lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.picture img {
    width: 400px;
    height: 300px;
}